.contact#con 
    .container 
        
        .row 
            .col-lg-6 
                h1.text-center GET IN TOUCH
                p.p4.text-center  Lorem ipsum dolor sit amet consectetur.
                form
                    input(type="text" placeholder="Your Name")
                    input(type="text" placeholder="Your Email")
                    input(type="text" placeholder="Your Phone")
                    textarea(placeholder="Your Message") 
                    input(type="submit" value="Send Message") 

            .col-lg-6
                .fe 
                    ul.list-unstyled 
                        li xBe - Creative Agency
                        li 284 Swanston St,
                        li Melbourne VIC 3000, Australia
                        
                    ul.list-unstyled 
                        li Email Us 
                        li 
                            a(href="") your.email@example.com
                        li 
                            a(href="") support@example.com
                .d3
                    iframe(src="https://www.google.com/", frameborder="0") 
.footer 
    .container 
        img(src="img/logo.png") 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit.

        ul.list-unstyled 
            li 
                i.fab.fa-twitter.fa-lg
            li 
                i.fab.fa-facebook.fa-lg
            li 
                i.fab.fa-behance.fa-lg 
            li 
                i.fab.fa-pinterest.fa-lg
            li 
                i.fab.fa-google.fa-lg 
        p.p5 copyright@xbe 2016 created by 
            span Template Stok
.but 
    a(href="#")
        i.fas.fa-angle-up.fa-lg
.set1
        i.fas.fa-cog.fa-2x
.colors
        p Theme colors selectors 
        ul.list-unstyled 
            li.li1(data-value="css/red_theme.css")
            li.li2(data-value="css/blue1_theme.css") 
            li.li3(data-value="css/green_theme.css")  
            li.li4(data-value="css/blue_theme.css") 
        ul.list-unstyled 
            li.li5(data-value="css/grey_theme.css") 
            li.li6(data-value="css/orange_theme.css") 
            li.li7(data-value="css/purble_theme.css")  
            li.li8(data-value="css/grey2_theme.css") 
