.nav
    .logo 
        img(src="img/logo.png")
    .menu
        ul.list-unstyled.main 
            li.se   
                a(href="#serv") Services
            li.te  
                a(href="#team") Team
            li.po   
                a(href="#por") Portfolio
            li.pr 
                a(href="#pr") Pricing 
            li.tes 
                a(href="#cl") Clients 
            li.con  
                a(href="#con") CONTACT

    .men 
        i.fas.fa-bars.fa-2x
    .win 
        ul.list-unstyled.main1.disb 
            li.se  
                a(href="#serv") Services 
            li.te  
                a(href="#team") Team
            li.po   
                a(href="#por") Portfolio
            li.pr 
                a(href="#pr") Pricing 
            li.tes 
                a(href="#cl") Clients 
            li.con  
                a(href="#con") CONTACT
