.port#po
    
        h1.text-center  PORTFOLIO
        p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
        ul.buts.list-unstyled.text-center
            li ALL
                a(href="") 
            li WORDPRESS
                a(href="") 
            li WEB DESIGN
                a(href="") 
            li GRAPIC DESIGN
                a(href="") 
            li PHP
                a(href="") 
            li BOOTSTRAP
                a(href="") 
        .row 
            .col-lg-3.box1.col-md-6
                img.img-fluid(src="img/portfolio/card.jpg")
                .over 
                    h1.text-center WINE LABEL
                    h3.text-center BRAND
                    i.fas.fa-plus
            .col-lg-3.box1.col-md-6
                img.img-fluid(src="img/portfolio/2.jpg")
                .over 
                    h1.text-center WINE LABEL
                    h3.text-center BRAND
                    i.fas.fa-plus
            .col-lg-3.box1.col-md-6
                img.img-fluid(src="img/portfolio/3.jpg")
                .over 
                    h1.text-center WINE LABEL
                    h3.text-center BRAND
                    i.fas.fa-plus
            .col-lg-3.box1.col-md-6 
                img.img-fluid(src="img/portfolio/4.jpg")
                .over 
                    h1.text-center WINE LABEL
                    h3.text-center BRAND
                    i.fas.fa-plus
            .col-lg-3.box1.col-md-6 
                img.img-fluid(src="img/portfolio/5.jpg")
                .over 
                    h1.text-center WINE LABEL
                    h3.text-center BRAND
                    i.fas.fa-plus
            .col-lg-3.box1.col-md-6
                img.img-fluid(src="img/portfolio/6.jpg")
                .over 
                    h1.text-center WINE LABEL
                    h3.text-center BRAND
                    i.fas.fa-plus
            .col-lg-3.box1.col-md-6  
                img.img-fluid(src="img/portfolio/1.jpg")
                .over 
                    h1.text-center WINE LABEL
                    h3.text-center BRAND
                    i.fas.fa-plus
            .col-lg-3.box1.col-md-6
                img.img-fluid(src="img/portfolio/book.jpg")
                .over 
                    h1.text-center WINE LABEL
                    h3.text-center BRAND
                    i.fas.fa-plus