.price#pr
    .container 
        h1.text-center PRICING
        p.text-center Lorem ipsum dolor sit amet consectetur.
        .row 
            .col-lg-4.col-md-4
                .base 
                    .lon 
                        h3.text-center BASIC
                        h2.text-center $39
                    ul.list-unstyled 
                        li.text-center  Free Download
                        li.text-center  1000+ Softwear
                        li.text-center  Full Access
                        li.text-center  Free Update
                        li.text-center  Live Support
                        li.text-center 
                            a(href="") SIGN UP

            .col-lg-4.col-md-4
                .base 
                    .lon 
                        h3.text-center MEDIUM
                        h2.text-center $89
                    ul.list-unstyled 
                        li.text-center  Free Download
                        li.text-center  1000+ Softwear
                        li.text-center  Full Access
                        li.text-center  Free Update
                        li.text-center Live Support
                        li.text-center 
                            a(href="") SIGN UP
            .col-lg-4.col-md-4
                .base 
                    .lon 
                        h3.text-center PREMIUM
                        h2.text-center $119
                    ul.list-unstyled 
                        li.text-center Free Download
                        li.text-center 1000+ Softwear
                        li.text-center Full Access
                        li.text-center Free Update
                        li.text-center Live Support
                        li.text-center 
                            a(href="") SIGN UP
.comm
    .container 
        .carousel.slide#carouselExampleIndicators(data-bs-ride="carousel")
            .carousel-indicators
                button.active(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1") 
                button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-current="true" aria-label="Slide 2")
                
            .carousel-inner
                .carousel-item.active.fr2
                    
                            
                    
                    
                    .carousel-caption.d-md-block
                    
                            .row
                                ul.ux.list-unstyled
                                    
                                    li.col-lg-2.col-md-4.col-sm-4.col-4
                                        img.img-fluid(src="img/clients/envato-logo.png")
                                    li.col-lg-2.col-md-4.col-sm-4.col-4
                                        img.img-fluid(src="img/clients/geforce-logo.png")
                                    li.col-lg-2.col-md-4.col-sm-4.col-4
                                        img.img-fluid(src="img/clients/uber-logo.png")
                                    li.col-lg-2.col-md-4.col-sm-4.col-4
                                        img.img-fluid(src="img/clients/airbnb-logo.png")
                                    li.col-lg-2.col-md-4.col-sm-4.col-4
                                        img.img-fluid(src="img/clients/bootstrap-logo.png")
                                    li.col-lg-2.col-md-4.col-sm-4.col-4
                                        img.img-fluid(src="img/clients/tmobile-logo.png")

                                    
                        
    
                .carousel-item.sec1
                    
                    
                    
                    .carousel-caption.d-md-block
                        
                            
                            ul.ux.list-unstyled
                                    li.col-lg-2.col-md-4.col-sm-4.col-4
                                        img.img-fluid(src="img/clients/envato-logo.png")
                                    li.col-lg-2.col-md-4.col-sm-4.col-4
                                        img.img-fluid(src="img/clients/valve-logo.png")
                                    li.col-lg-2.col-md-4.col-sm-4.col-4
                                        img.img-fluid(src="img/clients/talenthouse-logo.png")
                                    li.col-lg-2.col-md-4.col-sm-4.col-4
                                        img.img-fluid(src="img/clients/amazon-logo.png")
                                    li.col-lg-2.col-md-4.col-sm-4.col-4
                                        img.img-fluid(src="img/clients/river-logo.png")
                                    li.col-lg-2.col-md-4.col-sm-4.col-4
                                        img.img-fluid(src="img/clients/audio-logo.png")
                            
                                
                        
        
                        
                            
                    
                            
                    
            .carousel-control-prev.prr( type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev")
                span 
                    i.fas.fa-chevron-left
                span.visually-hidden Previous
            .carousel-control-next.prr1(type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next")
                span 
                    i.fas.fa-chevron-right
                span.visually-hidden next