.serv#serv 
    .container 
        .h1.text-center Services 
        p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        p.p3.text-center minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .row.all
            .col-lg-4 
                .box
                    .box1.text-center
                        i.fas.fa-desktop.fa-lg 
                    h4.text-center  Web and Graphic Design
                    p.text-center  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.

            .col-lg-4 
                .box.text-center
                    .box1
                        i.fas.fa-magic.fa-lg 
                    h4.text-center  Web and Graphic Design
                    p.text-center   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.

                
            .col-lg-4
                .box.text-center
                    .box1
                    
                        i.fas.fa-cubes.fa-lg 
                    h4.text-center  Web and Graphic Design
                    p.text-center   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
        .row.all
            .col-lg-4 
                .box
                    .box1.text-center
                        i.fas.fa-cogs.fa-lg 
                    h4.text-center  Web and Graphic Design
                    p.text-center  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.

            .col-lg-4 
                .box.text-center
                    .box1
                        i.fas.fa-laptop.fa-lg 
                    h4.text-center  Web and Graphic Design
                    p.text-center   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.

                
            .col-lg-4
                .box.text-center
                    .box1
                    
                        i.fas.fa-heart.fa-lg 
                    h4.text-center  Web and Graphic Design
                    p.text-center   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
