html 
    head 
        include pug\layout\styles
    body
        include pug\layout\navbar
        include pug\layout\header 
        include pug\layout\services
        include pug\layout\team
        include pug\layout\port
        include pug\layout\price
        include pug\layout\test
        include pug\layout\contact

        include pug\layout\scripts